<h6 class="text-center">WELCOME TO RESTAURANT FINDER</h6>

<div class="d-flex justify-content-around">
  <%= link_to "HOME", restaurants_path, class: "btn btn-primary"%>
  <%= link_to "CREATE", new_restaurant_path, class: "btn btn-primary"%>

</div>

